params {
  querydir = "$PWD/test_genomes/*.fasta"
  dbDir = "/scicomp/reference/ncbi-blast/current"
  dbName = "nt"
  threads = 8
  outdir = "$PWD/blastOut"
  options = "-evalue 1e-25"
  outfmt = "'6'"
  help = false
}

manifest {
  description = 'Trim viral genome contigs according to BlastN database alignments'
  author = 'Darlene D. Wagner'
  mainScript = 'blastnCOVIDExtract.nf'
}
